{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container bg-light text-dark mt-5 p-4 rounded">
    {% comment %} ユーザーを認証している場合はログイン後のページを表示 {% endcomment %}
    {% if user.is_authenticated %}
        <p>{{ user }} でログインしています</p>
        <a href="{% url 'library:logout' %}">
            {% bootstrap_button button_type="submit" button_class="btn-danger" content="ログアウト" size="md" %}
        </a>
    {% comment %} 認証していない場合は、ログイン用のフォームを表示 {% endcomment %}
    {% else %}
    <section>
        <form action="{% url 'library:login' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-outline-dark" type="submit">Login</button>
            <a  href="{% url 'accounts:signup' %}" class="btn btn-outline-dark ms-2">Sign up</a>
        </form>
    </section>
    {% endif %}
</div>
{% endblock %}