{% load django_bootstrap5 %}    {# django_bootstrap5のテンプレートタグ読み込み #}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %} {# BootstrapのCSSの読み込み #}
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-bg">
        <div class="container-fluid">
            <a class="navbar-brand text-decoration-underline" href="{% url 'library:index' %}">LibraryAPP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                    {% if user.is_authenticated %}
                        <span class="nav-link active"><p class="text-deepGreen">{{ user }}</p></span>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'library:index' %}">Home</a>
                    </li> 

                    <!-- 💡 プルダウンメニュー -->
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">History</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'library:rental_history' %}">Rental</a></li>
                        <li><a class="dropdown-item" href="{% url 'library:return_history' %}">Return</a></li>
                    </ul>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Auth-History</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'library:auth_rental_history' %}">Rental</a></li>
                        <li><a class="dropdown-item" href="{% url 'library:auth_return_history' %}">Return</a></li>
                    </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>

                    <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'library:logout' %}" class="nav-link active">Logout</a>
                    {% else %}
                        <a href="{% url 'library:login' %}" class="nav-link active">Login</a>
                    {% endif %}
                    </li>

                </ul>
                {% comment %} <form class="d-flex" method="get" action="{% url 'library:search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="words">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form> {% endcomment %}
                {% if user.is_staff %}
                <a  href="{% url 'library:create' %}" class="btn btn-outline-dark ms-2">Add Book</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% comment %} 各ページのコンテンツが挿入される {% endcomment %}
    {% endblock %}
    {% bootstrap_javascript %}  {# bootstrapのJavaScriptの読み込み #}
</body>